<div class="login-wrapper">
  <h2>Welcome to PlanITPoker</h2>

  <form (ngSubmit)="onGuestLogin()" #guestForm="ngForm">
    <input
      type="text"
      name="guestName"
      [(ngModel)]="guestName"
      placeholder="Enter your name"
      required
    />
    <button type="submit" [disabled]="!guestForm.form.valid">Continue as Guest</button>
  </form>

   <div class="divider">  </div>
   <hr>
  <div class="button-group">
    <button class="main-button" (click)="navigateToSignup()">Login / Signup</button>
  </div>

</div>
